<h3>Client Form</h3>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="task-name">Task Name</label>
        <div class="controls">
            <input type="text" id="task-name" placeholder="Task Name" ng-model="task.taskName">
        </div>
    </div>
    <div class="control-group">
    <label class="control-label" for="rate">Rate</label>
    <div class="controls">
        <input type="text" id="rate" placeholder="Rate" ng-model="task.rate">
    </div>
    <div class="control-group">
        <label class="control-label" for="hours">Hours</label>
        <div class="controls">
            <input type="text" id="hours" placeholder="Hours" ng-model="task.rate">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="start-date">Start Date</label>
        <div class="controls">
            <input type="text" id="start-date" placeholder="Start Date" ng-model="task.startDate">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="due-date">Due Date</label>
        <div class="controls">
            <input type="text" id="due-date" placeholder="Due Date" ng-model="task.dueDate">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="due-date">Due Date</label>
        <div class="controls">
            <select ng-options="taskType.TaskTypeId as taskType.TaskTypeName for taskType in TaskTypes" ng-model="task.taskType">
                <option style="display: none" value="">Select a Task Type</option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
            <button type="submit" class="btn btn-small" ng-click="reset()">Cancel</button>
        </div>
    </div>
</form>