<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectTrackerContext" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-AviTracker.Test-20130608080627;Integrated Security=SSPI;AttachDBFilename=c:\temp\aspnet-AviTracker.Test-20130608080627.mdf" />
  </connectionStrings>
</configuration>